@charset "utf-8";
* {
	margin:0;
	padding:0;
}
body,button,input,select,textarea {
	font-size:12px;
	font-family:arial,微软雅黑;
}
body {
	max-width: 640px;
	margin: 0 auto;
}
:focus {
	outline:0;
}
img {
	border:0;
}
ul,li {
	list-style:none;
}
div,ul,li,dl,dt,dd,table,td,input {
	font-size:12px;
}
input,select,textarea {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance:none;
	border:0;
	border-radius:0;
}
header{ display:none !important;}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	display:inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
}
.clear {
	clear:both;
}
.hidden {
	display:none;
}
.blank5 {
	line-height:0;
	font-size:1px;
	height:5px;
	clear:both;
}
.blank10 {
	line-height:0;
	font-size:1px;
	height:10px;
	clear:both;
}
ins {
	text-decoration:none;
	font-size:12px;
	font-family:arial;
}
em {
	font-style:normal;
}
.arial {
	font-family:Arial;
}
.F14 {
	font-size:14px;
}
.F16 {
	font-size:16px;
}
a {
	color:#000;
	text-decoration:none;
	outline:medium none;
}
a:hover {
	color:#C00;
}
.orange {
	color:#f60;
}
.red {
	color:#f00;
}
.c9 {
	color:#999;
}
a.blue,.blue {
	color:#2Af;
}
.gray3 {
	color: #333;
}
a.gray6,.gray6 {
	color:#666;
}
a.grayc,.grayc {
	color:#CCC;
}
a.gray9,.gray9 {
	color:#999;
}
a.green,.green {
	color:#08a600;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.Fb {
	font-weight:bold;
}
.z-user {
	margin:0 5px;
}
.mt10 {
	margin-top:10px;
}
.z-mlr {
	margin:0 3px;
}
h1,h2,h3,h4,b {
	font-weight:normal;
}
.m-round {
	/*border:1px solid #DCDCDC;*/
	border-width: 1px 0;
	border-style: solid;
	border-color: #DCDCDC;
	/*border-radius:5px;*/
	background:#fff;
	box-shadow:1px 1px 1px #e7e7e7;
}
.z-arrow {
	width:6px;
	height:6px;
	display:inline-block;
	border:solid #BBB;
	-webkit-transform:rotate(45deg);
	font-size:0;
	line-height:0;
}
.z-Member,.z-shop,.z-HReturn s,.z-HReturn b,.z-sort,.z-sort i,.z-Home,.z-Site,.z-RCornerBtn,.z-RCornerBtn i,.u-nav,.z-arrowh,.head li a.pCar {
	background:url(../../images/mobile/mainIcon.png);
	background-size:80px auto;
}
.Prompt s,.goodsList .goodsListR a.add s,.registerCon em,.z-del,.g-pay-bline,.z-pay-mentsel,.z-pay-tips s,.z-pay-tips i,.z-Transaction s,.z-Transaction i,.pCountdown s,.pCountdown em,.z-limit-tips {
	background:url(../../images/mobile/setIcon.png);
	background-size:80px auto;
}
.u-Btn {
	color:#fff;
	text-align:center;
	font-size:14px;
	display:box;
	display:-webkit-box;
	display:-moz-box;
}
.u-Btn .u-Btn-li {
	font-size:18px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	text-align:center;
}
a.z-CloseBtn,a.z-DefineBtn,a.z-ShoppingBtn,a.z-cartBtn {
	line-height:44px;
	text-align:center;
	display:block;
	border-radius:3px;
}
.u-Btn a.z-CloseBtn {
	color:#F60;
	font-size:14px;
	line-height:33px;
	border:1px solid #DDD;
	margin-right:10px;
	background:#fff;
	box-shadow:1px 1px 1px #F3F3F3;
}
.u-Btn a.z-DefineBtn {
	color:#fff;
	font-size:14px;
	line-height:33px;
	border:1px solid #FE6D0B;
	box-shadow:0 1px 2px #E7E7E7;
	background:#f60;
}
.u-Btn a.z-ShoppingBtn {
	border:1px solid #f60;
	font-size:14px;
	line-height:33px;
	margin-right:10px;
	box-shadow:0 1px 1px #E7E7E7;
	background:#FF6500;
	color:#fff;
}
.u-Btn a.z-cartBtn {
	color:#fff;
	font-size:14px;
	line-height:33px;
	border:1px solid #FEA700;
	box-shadow:0 1px 2px #E7E7E7;
	background:#FFB321;
}
.grayBtn,.orgBtn {
	display:block;
	width:100%;
	-webkit-box-sizing:border-box;
	height:43px;
	line-height:43px;
	text-align:center;
	color:#fff!important;
	border-radius:5px;
	font-size:18px;
}
a.orgBtn {
	background:#f60;
	border:1px solid #ef6000;
}
a.grayBtn {
	background:#ccc;
	border:1px solid #ccc;
}
.g-snav {
	width:100%;
	display:box;
	display:-webkit-box;
	display:-moz-box;
}
.g-snav .g-snav-lst {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
.u-nav {
	height:42px;
	margin:0 auto;
	background-position:0 -245px;
	background-repeat:repeat-x;
	background-color:#fff;
	position:fixed;
	bottom:0;
	z-index:999;
}
.u-nav .g-snav-lst {
	padding-top:8px;
	height:35px;
	overflow:hidden;
	display:block;
	text-align:center;
	font-size:14px;
}
.u-nav .g-snav-lst a {
	color:#666;
	display:block;
	margin:0 5px;
	height:25px;
	line-height:26px;
	overflow:hidden;
}
.u-nav .g-snav-lst a.nav-crt {
	background:#f60;
	color:#fff;
	border-radius:15px;
	padding:0 10px 0 10px;
	margin-bottom:2px;
	box-shadow:1px 1px 1px #d35400 inset;
	overflow:hidden;
}
.u-nav .z-arrowh {
	width:12px;
	height:16px;
	background-position:0 -150px;
	display:inline-block;
	margin-top:2px;
}
.m_listNav {
	border-bottom:1px solid #D0D0D0;
}
.m_listNav .g-snav-lst {
	text-align:center;
	height:33px;
	line-height:33px;
	position:relative;
}
.m_listNav .g-snav-lst a {
	display:block;
	margin:0 5px;
}
.m_listNav .g-snav-lst b {
	height:15px;
	width:1px;
	position:absolute;
	top:10px;
	right:0;
	overflow:hidden;
	background:#DDD;
}
.m_listNav .z-sgl-crt a {
	color:#f60;
	height:32px;
	line-height:33px;
	display:block;
	border-bottom:2px solid #f60;
}
.z-bank-Round {
	width:16px;
	height:16px;
	border:1px solid #bbb;
	background:#fff;
	border-radius:16px;
	display:inline-block;
	margin-right:8px;
	box-shadow:0 1px 1px #ccc inset;
}
.z-bank-Roundsel {
	width:16px;
	height:16px;
	line-height:20px;
	border:1px solid #ccc;
	background:#F6F5F5;
	border-radius:16px;
	display:inline-block;
	text-align:center;
	margin-right:8px;
}
.z-bank-Roundsel s {
	width:12px;
	height:12px;
	border-radius:12px;
	display:inline-block;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ff8a00),color-stop(1,#f60));
}
.header {
	height:44px;
	background:#f60;
	border-bottom:1px solid #e35b00;
}
.header h1 {
	width:55px;
	height:33px;
	margin:5px 0 0 9px;
	display:inline;
	background-size:55px auto;
}
.header h1 a {
	width:55px;
	height:33px;
	display:inline-block;
}
.header h1 a img {
	width:150px;
	height:45px;
	display:inline-block;
	margin-left:0px;
}
.header span {
	display:none;
}
.header .head-r {
	margin:6px 6px 0 0;
}
.z-Home,.z-Member,.z-shop,a.z-Site {
	background-color:#f60;
	width:36px;
	height:32px;
	border:1px solid #de4900;
	border-radius:5px;
	box-shadow:1px 1px 1px #ff8533 inset;
	display:inline-block;
}
.z-Member {
	background-position:0 0;
}
.z-shop {
	background-position:0 -35px;
	position:relative;
	text-align:center;
}
.z-shop em {
	display:inline-block;
	border-radius:10px;
	background:#F60;
	border:1px solid #fff;
	padding:0 3px 0 3px;
	position:absolute;
	top:3px;
	right:3px;
	color:#f60;
	font-family:Arial;
	font-size:8px;
	color:#fff;
	font-weight:bold;
	box-shadow:0 1px 1px #DE4900;
}
.z-Home {
	background-position:8px -72px;
	position:relative;
	text-align:center;
}
a.z-sort {
	height:32px;
	padding:0 25px 0 10px;
	text-align:center;
	display:inline-block;
	position:relative;
	line-height:32px;
	color:#fff;
	background-position:right -110px;
	overflow:hidden;
}
a.z-RCornerBtn {
	height:32px;
	padding:0 10px 0 10px;
	text-align:center;
	display:inline-block;
	position:relative;
	line-height:32px;
	color:#fff;
	background-position:right -110px;
	overflow:hidden;
}
a.z-Site {
	display:inline-block;
	background-position:8px -317px;
}
.z-sort i,.z-RCornerBtn i {
	width:5px;
	height:34px;
	display:inline-block;
	background-position:0 -110px;
	background-color:#f60;
	position:absolute;
	left:0;
	top:0;
}
.z-Sswt,.z-Sswd {
	position:absolute;
	right:9px;
	height:0;
	border:5px transparent solid;
	display:inline-block;
}
.z-Sswt {
	border-bottom-color:#FEFEFF;
	top:5px;
}
.z-Sswd {
	border-top-color:#FFA567;
	top:18px;
}
.z-SswOn,.z-SswNt {
	position:absolute;
	right:9px;
	height:0;
	border:5px transparent solid;
	display:inline-block;
}
.z-SswOn {
	border-bottom-color:#FFA567;
	top:5px;
}
.z-SswNt {
	border-top-color:#FEFEFF;
	top:18px;
}
.g-header {
	height:44px;
	background:#f60;
	border-bottom:1px solid #e35b00;
	position:relative;
}
.g-header h2 {
	text-align:center;
	color:#fff;
	line-height:44px;
	text-shadow:1px 1px 0 #C04D00;
}
.g-header .head-l,.g-header .head-r {
	position:absolute;
	top:6px;
}
.g-header .head-l {
	left:3px;
}
.z-HReturn {
	height:33px;
	line-height:33px;
	padding-left:15px;
	display:inline-block;
	position:relative;
}
.z-HReturn b {
	display:inline-block;
	background-position:right -196px;
	padding:0 11px 0 5px;
	color:#fff;
}
.z-HReturn s {
	width:15px;
	height:33px;
	background-position:0 -162px;
	display:inline-block;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}
.g-header .head-r {
	right:6px;
}
.footer {
	text-align:center;
	position:relative;
	padding-bottom:52px;
}
.footer .z-top {
	width: 40px;
	height: 40px;
	position: fixed;
	right: 8px;
	bottom: -60px;
	background: rgba(0,0,0,.6);
	cursor: pointer;
	border-radius: 20px;
	-webkit-transition: all .5s;
	box-shadow: 0 1px 8px #666;
	z-index: 15;
}
.footer .z-top.show {
	bottom: 66px;
}
.footer .z-top .z-arrow {
	width: 10px;
	height: 10px;
	margin-top: 16px;
	margin-right: 1px;
	margin-left: 1px;
	border-color: #fff;
	border-width: 2px 0 0 2px;
}

.footer .m-ftA {
	padding-top:5px;
}
.footer .m-ftA a {
	padding:8px 15px;
	display:inline-block;
	font-size: 14px;
	color:#999;
}
.footer .contacts, .footer .contacts a {
	margin-left: 8px;
	font-size: 14px;
	color: #999;
	font-weight: bold;
}
.footer .u-ft-nav {
	clear: both;
	width: 100%;
	max-width: 640px;
	background: #f7f7f7;
	box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
	height: 52px;
	position: fixed;
	bottom: 0;
	z-index: 100;
}
.footer .u-ft-nav a {
	display: block;
	float: left;
	width: 20%;
	height: 44px;
	padding-top: 4px;
	text-align: center;
	color: #666;
}
.footer .u-ft-nav a:hover {
	text-decoration: none;
}
.footer .u-ft-nav a.hover {
	color: #F60;
}
.footer .u-ft-nav i {
	display: block;
	margin: 0 auto;
	height: 26px;
}
.footer li.f_home a.hover i {
	background-position: 0 -107px;
}
.footer li.f_home i {
	width: 26px;
	background-position: 0 -134px;
}
.footer li.f_allgoods a.hover i {
	background-position: 0 -211px;
}
.footer li.f_allgoods i {
	width: 23px;
	background-position: 0 -236px;
}
.footer li.f_announced a.hover i {
	background-position: 0 -159px;
}
.footer li.f_announced i {
	width: 23px;
	background-position: 0 -185px;
}
.footer li.f_car a.hover i {
	background-position: 0 2px;
}
.footer li.f_car i {
	width: 30px;
	background-position: 0 -26px;
}
.footer li.f_car em {
	background: #F60;
}
.footer li.f_personal a.hover i {
	background-position: 0 -55px;
}
.footer li.f_personal i {
	width: 20px;
	background-position: 0 -80px;
}
.footer li.f_personal em {
	/*background: #008AFF;*/
}
.footer li i {
	position: relative;
}
.footer li em {
	display: block;
	background: #f60;
	padding: 1px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	top: -10px;
	right: -12px;
	font-family: Arial;
	text-align: center;
	font-size: 10px;
	overflow: hidden;
}
.Progress-bar:after {
	content:"\0020";
	display:block;
	height:0;
}
.Progress-bar {
	zoom:1;
}
.u-progress {
	height:5px;
	background:#e7e7e7;
	position:relative;
	border-radius:3px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
	overflow:hidden;
}
.u-progress .pgbar,.u-progress .pging {
	display:block;
	width:100%;
	height:100%;
	border-radius:3px;
}
.u-progress .pging {
	background:#f60;
}
.Progress-bar .Pro-bar-li li {
	float:left;
	color:#999;
	font-size:10px;
	font-family:宋体;
	border:none;
	margin:0;
	padding:0;
	box-shadow:none;
	border-radius: 0px;
}
.Progress-bar .Pro-bar-li li em {
	display:block;
	font-size:10px;
	font-family:arial;
	height:14px;
	padding:3px 0 0 0;
	font-style:normal;
}
.Progress-bar .Pro-bar-li li.P-bar01 em {
	color:#F60;
}
.Progress-bar .Pro-bar-li li.P-bar02 em {
	color:#777;
}
.Progress-bar .Pro-bar-li li.P-bar03 em {
	color:#2AF;
}
.Progress-bar .Pro-bar-li li.P-bar01 {
	width:30%;
	text-align:left;
}
.Progress-bar .Pro-bar-li li.P-bar02 {
	width:40%;
	text-align:center;
}
.Progress-bar .Pro-bar-li li.P-bar03 {
	width:30%;
	float:right;
	text-align:right;
}
.loading-progress {
	height:8px;
	overflow:hidden;
	border-radius:3px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.2);
	background:#f7f7f7;
	margin-top:15px;
}
.loading-progress .loading-pgbar,.loading-progress .loading-pging {
	display:block;
	width:100%;
	height:100%;
}
.loading-progress .loading-pging {
	background:-webkit-linear-gradient(-45deg,#ff8937 0,#ff8937 25%,#f60 25%,#f60 50%,#ff8937 50%,#ff8937 75%,#f60 75%,#f60);
	-webkit-background-size:20px 20px;
	-moz-background-size:20px 20px;
	-ms-background-size:20px 20px;
	background-size:20px 20px;
	-webkit-animation:loading-pging 0.5s linear infinite;
	-moz-animation:loading-pging 0.5s linear infinite;
	-ms-animation:loading-pging 0.5s linear infinite;
	animation:loading-pging 0.5s linear infinite;
}
@-webkit-keyframes loading-pging {
	0% {
		background-position:0 0;
	}
	100% {
		background-position:20px 0;
	}
}@-moz-keyframes loading-pging {
	 0% {
		 background-position:0 0;
	 }
	 100% {
		 background-position:20px 0;
	 }
 }@-ms-keyframes loading-pging {
	  0% {
		  background-position:0 0;
	  }
	  100% {
		  background-position:20px 0;
	  }
  }@keyframes loading-pging {
	   0% {
		   background-position:0 0;
	   }
	   100% {
		   background-position:20px 0;
	   }
   }.z-minheight {
		min-height:200px;
	}
.loading {
	height: 30px;
	line-height: 30px;
	text-align: center;
	maring-bottom:10px;
}
.loading:before{
	content: "正在加载中";
}
.loading s{
	background: url(../../images/mobile/ajax-loader.gif) no-repeat 0 0 / 14px;
	position:relative;
	width:16px;
	height:16px;
	top:4px;
	left: 5px;
	display: inline-block;
}
a.loading {
	clear:both;
	width:100%;
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#000;
	font-size:12px;
}
.loading b {
	background:url(../images/logining.gif);
	background-size:12px auto;
	background-repeat:no-repeat;
	width:12px;
	height:12px;
	display:inline-block;
	margin-right:5px;
	position:relative;
	top:2px;
}
.haveNot {
	width:100%;
	margin:0 auto;
	text-align:center;
	color:#999;
	font-size:18px;
}
.haveNot s {
	background: url("../../images/mobile/cartnull1.png") no-repeat;
	background-size: 100px auto;
	display:block;
	width:100px;
	height:100px;
	margin:0 auto;
}
.haveNot p {
	margin-top:0;
}
div.pageDialogBG {
	width:100%;
	height:100%;
	position:fixed;
	z-index:101;
	top:0;
	left:0;
	opacity:0.3;
	background:#000;
	display:none;
}
div.pageDialog {
	position:fixed;
	z-index: 9999;
	top:0;
	left:0;
	display:none;
}
.Prompt {
	color:#fff;
	border-radius:5px;
	width:100%;
	height:100%;
	line-height:45px;
	margin:0 auto;
	text-align:center;
	background:rgba(0,0,0,0.7);
	box-shadow:0 2px 3px #9b9b9b;
	font-size:16px;
}
.Prompt s {
	width:23px;
	height:23px;
	background-repeat:no-repeat;
	background-position:0 -74px;
	display:inline-block;
	position:relative;
	top:5px;
	margin-right:5px;
}
.u-tipsEject {
	background:#fff;
	border-radius:5px;
	border:none;
	box-shadow:0 1px 1px rgba(0,0,0,0.3);
}
.u-tips-txt {
	text-align:center;
	line-height:70px;
	font-size:14px;
	color:#999;
	border-bottom:1px solid #EEE;
}
.u-tipsEject .u-Btn {
	padding: 12px 20px;
	width: 100%;
	box-sizing: border-box;
}
.u-tipsEject a.z-DefineBtn {
	box-shadow:none;
}
.u-tipsEject .u-Btn a.z-CloseBtn {
	background:#EEE;
	color:#999;
	border:1px solid #EEE;
	box-shadow:none;
}
@media screen and (max-device-width:320px) {
	body {
		-webkit-text-size-adjust:none;
	}
}@media screen and (max-device-width:480px) {
	body {
		-webkit-text-size-adjust:none;
	}
}@media only screen and (-webkit-min-device-pixel-ratio:2) {
	body {
		-webkit-text-size-adjust:none;
	}
}@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
	body {
		-webkit-text-size-adjust:none;
	}
}.z-class-icon01 s,.z-class-icon02 s,.z-class-icon03 s,.z-class-icon04 s,.z-class-icon05 s,.z-class-icon06 s,.z-class-icon07 s {
	 background:url(http://mskin.1yyg.com/images/new-class-icon.png?v=130823);
	 background-size:102px auto;
 }
.z-class-icon01,.z-class-icon02,.z-class-icon03,.z-class-icon04,.z-class-icon05,.z-class-icon06,.z-class-icon07 {
	display:inline-block;
	position:relative;
	padding-left:15px;
	padding-right:5px;
	line-height:20px!important;
	color:#666;
}
.z-class-icon01 s,.z-class-icon02 s,.z-class-icon03 s,.z-class-icon04 s,.z-class-icon05 s,.z-class-icon06 s,.z-class-icon07 s {
	position:absolute;
	width:13px;
	height:13px;
	display:inline-block;
	top:4px;
	left:0;
}
.z-class-icon01 s {
	background-position:0 0;
}
.z-class-icon02 s {
	background-position:-17px 0;
}
.z-class-icon03 s {
	background-position:-34px 0;
}
.z-class-icon04 s {
	background-position:-50px 0;
}
.z-class-icon05 s {
	background-position:-67px 0;
}
.z-class-icon06 s {
	background-position:-84px 0;
}
.z-class-icon07 s {
	background-position:-107px -1px;
}

/*四个小导航的css*/
.navautos{width:100%;height:170px;padding:10px 0;background-color:#fff;}
.wrapnavautos{width:25%;height:85px;float:left;}
.textnavword p{text-align:center;font-size: 14px;color:#bbb;width:100%;margin-top:4px;font-family:微软雅黑;}
.navautos-img{width:60px;height:60px;margin:0 auto;}
.wrapnavautos img{width:100%;height:100%;}

.ann_btn {
	background: #fff none repeat scroll 0 0;
	clear: both;
	font-size: 16px;
	margin-bottom: 77px;
	width: 100%;
}
.ann_btn a {
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	color: #666;
	display: block;
	height: 42px;
	line-height: 42px;
	margin-top: -1px;
	padding: 0 10px;
}

.pro_foot, .pro_foot * {
	-webkit-box-sizing: border-box;
}

.pro_foot {
	position: fixed;
	width: 100%;
	max-width: 640px;
	bottom: 52px;
	background: #FFF;
	box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
	clear: both;
	z-index: 20;
}

.pro_foot li {
	float: left;
	height: 3rem;
	line-height: 3rem;
}

.pro_foot li.w40 {
	width: 40%;
}

.pro_foot li.w50 {
	width: 50%;
}

.pro_foot li.w60 {
	width: 60%;
}

.pro_foot li.orange-Btn {
	background: #F60;
}

.pro_foot li a {
	display: block;
	text-align: center;
	font-size: .9rem;
	letter-spacing: 1px;
}

.pro_foot li.orange-Btn a {
	color: #FFF;
}

.pro_foot li.white-Btn a {
	color: #F60;
}

.m-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	display: none;
	z-index: 20000;
}
.m-popup img {
	position: fixed;
	left: 5%;
	top: .5rem;
	width: 90%;
	z-index: 111;
}

.float-ball {
	position: fixed;
	width: 3.2rem;
	height: 3.2rem;
	right: -.8rem;
	bottom: 30%;
	background: #F60;
	border-radius: 50%;
	-webkit-animation: light 1.5s infinite linear;
	-webkit-animation-fill-mode: forwards;
	z-index: 111;
	cursor: pointer;
}

@-webkit-keyframes light {
	0% {
		box-shadow: 0 0 0px #F60;
	}

	50% {
		box-shadow: 0 0 20px #F60;
	}

	100% {
		box-shadow: 0 0 0px #F60;
	}
}

.float-ball p {
	display: block;
	width: 2rem;
	height: 2rem;
	padding: .3rem;
	margin: calc(0.3rem - 1px) auto;
	line-height: 1rem;
	color: #FFF;
	font-size: .9rem;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #FFF;
	letter-spacing: 1px;
}